# Dependency directories
/node_modules

# Environment variables file
.env

# Output of build tools
/build/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Cache and data directories
.cache/
.data/

# Editor/IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln